.flexbox{
    display: flex;
    border-color: grey;
    border-style: solid;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.lightpink{
    background-color: lightpink;
}