 body {
            margin: 0;
            padding: 20px;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #7650b5;
            height: 50px;

            display: flex;
            align-items: center;

            padding: 0 10px;
        }

        .home {
            color: white;
            font-size: 14px;
            font-weight: bold;
        }

        .search {
            flex: 1;
            margin: 0 20px;
            height: 20px;

            border: none;
            border-radius: 20px;

            padding: 0 15px;
            outline: none;
        }

        .download {
            background-color: transparent;
            color: white;

            border: 1px solid #ddd;
            padding: 7px 12px;

            cursor: pointer;
        }